In [1]:
import pandas as pd
import numpy as np

In [2]:
# In this section we will work to standardize each remaining statistic by year. The goal is to be able to compare teams in a given year vs. the league averages for the aforementioned statistics.

In [12]:
data = pd.read_csv('..\data\processed\BattingStats.csv')

In [13]:
data.head()

,Unnamed: 0,yearID,teamID,AB,R,H,2B,3B,HR,RBI,...,SH,SF,BA,PA,OBP,SLG,OPS,SB%,K%,BB%
0,0,1900,BRO,4860.0,816.0,1423.0,199.0,81.0,26.0,676.0,...,78.0,0.0,0.293,5359.0,0.359,0.383,0.742,0.0,0.0,0.079
1,1,1900,BSN,4952.0,778.0,1403.0,163.0,68.0,48.0,676.0,...,107.0,0.0,0.283,5454.0,0.338,0.373,0.711,0.0,0.0,0.072
2,2,1900,CHN,4907.0,635.0,1276.0,202.0,51.0,33.0,519.0,...,130.0,0.0,0.260,5380.0,0.313,0.342,0.655,0.0,0.0,0.064
3,3,1900,CIN,5026.0,703.0,1335.0,178.0,83.0,33.0,591.0,...,108.0,0.0,0.266,5467.0,0.314,0.354,0.668,0.0,0.0,0.061
4,4,1900,NY1,4724.0,713.0,1317.0,177.0,61.0,23.0,564.0,...,80.0,0.0,0.279,5173.0,0.337,0.357,0.694,0.0,0.0,0.071

In [14]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [8]:
data.head()

,yearID,teamID,AB,R,H,2B,3B,HR,RBI,SB,...,SH,SF,BA,PA,OBP,SLG,OPS,SB%,K%,BB%
0,1900,BRO,4860.0,816.0,1423.0,199.0,81.0,26.0,676.0,274.0,...,78.0,0.0,0.293,5359.0,0.359,0.383,0.742,0.0,0.0,0.079
1,1900,BSN,4952.0,778.0,1403.0,163.0,68.0,48.0,676.0,182.0,...,107.0,0.0,0.283,5454.0,0.338,0.373,0.711,0.0,0.0,0.072
2,1900,CHN,4907.0,635.0,1276.0,202.0,51.0,33.0,519.0,189.0,...,130.0,0.0,0.260,5380.0,0.313,0.342,0.655,0.0,0.0,0.064
3,1900,CIN,5026.0,703.0,1335.0,178.0,83.0,33.0,591.0,183.0,...,108.0,0.0,0.266,5467.0,0.314,0.354,0.668,0.0,0.0,0.061
4,1900,NY1,4724.0,713.0,1317.0,177.0,61.0,23.0,564.0,236.0,...,80.0,0.0,0.279,5173.0,0.337,0.357,0.694,0.0,0.0,0.071

In [15]:
# Dropping remaining unnecessary columns
data.drop(columns=['AB','R','H','CS','BB','SO','SH','SF','PA','RBI'],axis=1,inplace=True)

In [16]:
data.head()

,yearID,teamID,2B,3B,HR,SB,HBP,BA,OBP,SLG,OPS,SB%,K%,BB%
0,1900,BRO,199.0,81.0,26.0,274.0,81.0,0.293,0.359,0.383,0.742,0.0,0.0,0.079
1,1900,BSN,163.0,68.0,48.0,182.0,45.0,0.283,0.338,0.373,0.711,0.0,0.0,0.072
2,1900,CHN,202.0,51.0,33.0,189.0,65.0,0.260,0.313,0.342,0.655,0.0,0.0,0.064
3,1900,CIN,178.0,83.0,33.0,183.0,50.0,0.266,0.314,0.354,0.668,0.0,0.0,0.061
4,1900,NY1,177.0,61.0,23.0,236.0,56.0,0.279,0.337,0.357,0.694,0.0,0.0,0.071

In [26]:
data.set_index(['yearID','teamID'])

                  2B    3B     HR     SB   HBP     BA    OBP    SLG    OPS
yearID teamID
1900   BRO     199.0  81.0   26.0  274.0  81.0  0.293  0.359  0.383  0.742  \
       BSN     163.0  68.0   48.0  182.0  45.0  0.283  0.338  0.373  0.711
       CHN     202.0  51.0   33.0  189.0  65.0  0.260  0.313  0.342  0.655
       CIN     178.0  83.0   33.0  183.0  50.0  0.266  0.314  0.354  0.668
       NY1     177.0  61.0   23.0  236.0  56.0  0.279  0.337  0.357  0.694
...              ...   ...    ...    ...   ...    ...    ...    ...    ...
2015   SLN     288.0  39.0  137.0   69.0  66.0  0.253  0.323  0.394  0.717
       TBA     278.0  32.0  167.0   87.0  84.0  0.252  0.318  0.406  0.724
       TEX     279.0  32.0  172.0  101.0  76.0  0.257  0.327  0.413  0.740
       TOR     308.0  17.0  232.0   88.0  54.0  0.269  0.341  0.457  0.798
       WAS     265.0  13.0  177.0   57.0  44.0  0.251  0.320  0.403  0.723

                 SB%     K%    BB%
yearID teamID
1900   BRO     0.000  0.000  0.079
       BSN     0.000  0.000  0.072
       CHN     0.000  0.000  0.064
       CIN     0.000  0.000  0.061
       NY1     0.000  0.000  0.071
...              ...    ...    ...
2015   SLN     0.645  0.209  0.083
       TBA     0.659  0.219  0.073
       TEX     0.721  0.202  0.082
       TOR     0.793  0.186  0.092
       WAS     0.712  0.221  0.089

[2430 rows x 12 columns]

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
standardized_data = pd.DataFrame()

In [37]:
scaler = StandardScaler()

# def standard():
#     for i in range(1900, 2016):
#         scaler.fit(data['yearID']==i)
#         scaled_data = scaler.transform(data['yearID']==i)
#         standardized_data.append(scaled_data)

In [34]:
standardized_data.head()

Empty DataFrame
Columns: []
Index: []

In [39]:
scaler.fit(data[data['yearID']==1900].set_index(['teamID','yearID']))

StandardScaler()

In [40]:
scaled_data = scaler.transform(data[data['yearID']==1900].set_index(['teamID','yearID']))

In [41]:
scaled_data.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [42]:
scaled_data

array([[ 1.08187163,  0.35960762, -0.77932527,  1.87212336,  1.34203849,
         1.19706731,  1.29121182,  1.28113866,  1.32950253,  0.        ,
         0.        ,  1.18458896],
       [-0.86549731, -0.55256781,  2.20244098, -0.85096516, -1.52097695,
         0.3264729 ,  0.07253999,  0.51627976,  0.27271847,  0.        ,
         0.        ,  0.19448476],
       [ 1.24415238, -1.74541259,  0.16941854, -0.64377364,  0.06958718,
        -1.67589424, -1.3782598 , -1.85478284, -1.63631081,  0.        ,
         0.        , -0.93706291],
       [-0.05409358,  0.4999423 ,  0.16941854, -0.82136637, -1.12333592,
        -1.15353759, -1.32022781, -0.93695216, -1.1931433 ,  0.        ,
         0.        , -1.36139329],
       [-0.10818716, -1.04373919, -1.18592976,  0.7473694 , -0.64616668,
        -0.02176486,  0.014508  , -0.70749448, -0.30680828,  0.        ,
         0.        ,  0.0530413 ],
       [ 0.43274865,  0.42977496, -0.37272078, -0.17019303,  0.62628463,
         0.93588899,  0.94301987,  0.89870921,  0.95451464,  0.        ,
         0.        ,  1.32603242],
       [ 0.32456149,  1.69278709, -0.77932527, -1.08775547, -0.08946923,
        -0.63118095, -0.73990789,  0.13385031, -0.37498789,  0.        ,
         0.        , -1.21994983],
       [-2.0555561 ,  0.35960762,  0.57602303,  0.95456092,  1.34203849,
         1.02294843,  1.11711584,  0.66925154,  0.95451464,  0.        ,
         0.        ,  0.76025859]])